.input {
  font-family: 'Poiret One', cursive;
  font-weight: 300;
  /*width: 250px;*/
  width: 100%;
  font-size: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  margin-top: 5px;
  border-radius: 7px;
  outline: 0;
  color: #445269;
  box-sizing: border-box;
  border: 1px solid #a2b0c5;
}

.modal {
  width: 400px;
  /*margin-left: 25px;*/
  margin-left: auto;
  margin-right: auto;
}

.head {
  font-family: 'Poiret One', cursive;
  font-size: 17px;
  margin-left: 3px;
  color: #282c34;
}

.colorBlock {
  display: none;
  position: absolute;
  /*width: 184px;*/
}

.colorBlockActive {
  /*display: block;*/
  position: absolute;
  right:50px;
  top: 150px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /*width: 350px;*/
  grid-gap: 12px;
  border: 1px solid #a2b0c5;
  border-radius: 7px;
  padding: 15px;
  background-color: white;
  z-index: 100;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.errorText {
  font-family: 'Poiret One', cursive;
  margin-top: 10px;
  color: red;
}

.saveButton {
  font-family: 'Poiret One', cursive;
  font-size: 17px;
  margin-top: 30px;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
  background-color: #14C58B;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  margin-bottom: 40px;
}

.form {
}

.selectedColor {
  width: 60px;
  /*height: 11px;*/
  height: 100%;
  border-radius: 2px;
}

.colorInput {
  /*width: 250px;*/
  display: flex;
  height: 40px;
  padding: 10px 0 10px 10px;
  margin-top: 5px;
  border-radius: 7px;
  box-sizing: border-box;
  border: 1px solid #a2b0c5;
  cursor: pointer;

}

.colorInput span {
  margin-top: -5px;
  font-size: 30px;
  color: #282c34;
}