.login{
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
}

.slogan {
  font-family: 'Poiret One', cursive;
  font-size:40px;
  width: 360px;
  color: white;
  font-weight: 600;
  /*margin-left: ;*/
  margin-left: auto;
  margin-right: auto;
}

.head {
  font-size: 17px;
  margin-top: 10px;
  font-family: 'Poiret One', cursive;
}

.input {
  font-family: 'Poiret One', cursive;
  font-weight: 300;
  width: 400px;
  font-size: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  margin-top: 5px;
  border-radius: 7px;
  outline: 0;
  color: #445269;
  box-sizing: border-box;
  border: 1px solid #a2b0c5;
}

.regButton {
  color: #007AFF;
  cursor: pointer;
}

.regButton:hover {
  color: #282c34;
}

.errorText {
  font-family: 'Poiret One', cursive;
  margin-top: 10px;
  color: red;
}

.no {
  color: #282c34;
  font-family: 'Poiret One', cursive;
  /*margin-left: 35px;*/
  text-align: center;
  margin-top: 15px;
}

.enter {
  font-size: 25px;
  font-family: 'Poiret One', cursive;
  font-weight: 600;
  color: #282c34;
  margin-bottom: 15px;
}

.bannerInfo {
  margin-top: 170px
}

.reg {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.enterButton {
  font-family: 'Poiret One', cursive;
  font-size: 17px;
  margin-top: 30px;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
  background-color: #14C58B;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
}

.form {
  position: absolute;
  /*height: 100%;*/
  width: 50%;
  right: 0;
  margin-top: 260px;
}

.imac {
  margin-top: -80px;
  width: 500px;
  box-shadow: #282c34;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: linear-gradient(#059B82, #14C58B, #059B82);
  text-align: center;
}