.dropArea {
  width: 1340px;
  margin-top: 50px;
  height: 80vh;
  border: 5px dashed #14C58B;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.input {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  position: absolute;
}

.noDropArea {
  cursor: pointer;
  width: 1340px;
  margin-top: 50px;
  height: 80vh;
  border: 5px dashed #a2b0c5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.text {
  font-family: Roboto, serif;
  color: #7F8FA4;
  font-weight: 500;
  font-size: 50px;
}

.icon {
  margin-bottom: 100px;
}

.icon span {
  font-size: 300px;
  font-weight: 400;
  text-align: center;
  color: #7F8FA4;
}